footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
   padding: 10%;
   flex-wrap: wrap;
}


footer ul{
    flex-direction: column;
}
.about{
    width: 250px;
}
input{
    width: 100px;
    height: 30px;
}
.about button{
    width: 60px;
    text-align: center;
    position: relative;
    left: 60px;
}

@media only screen and (max-width: 600px) {
   footer{
       height: 2000px;
   
    
   }
  }
@media only screen and (max-width: 1000px) {
   footer{
       height: 1500px;
   
    
   }
  }